.payment label {
  font-weight: 600;
  color: linear-gradient(to right, #000D6B, #FFA500);
}

.payment button {
  padding: 8px 15px;
  border-radius: 5px;
  background: linear-gradient(to right, #000D6B, #FFA500);
  color: #fff;
  border: none;
  outline: none;
}
